body {
  background-color: purple;
}

/* skeleton */
.banner {
  background-color: brown;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  border-radius: 15px;
  border: none;
}

.button-container {
  display: flex;
  gap: 25px;
  padding-bottom: 25px;
}

#body {
  background-color: cornsilk;
}

.footer {
  margin-top: 10px;
  background-color: chocolate;
}

.footer-container {
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: center;
}

/* menu */

.menu-card-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(10, 1fr);
  padding-top: 10px;
}

.card-container {
  /* this is the "true card" */
  background-color: cornflowerblue;
  margin: 5px;
  padding: 10px;
}

.left {
  grid-column: 2 / span 4;
}

.right {
  grid-column: 4 / span 4;
  border: solid 3px cornflowerblue;
}

.card-image-container {
  background-size: cover;
  padding: 50px;
}

.image-wrapper {
  display: grid;
  padding: 5px;
}

.card {
  padding: 10px;
  display: grid;
}

.dish {
  margin: 5px;
}

.price {
  padding-left: 10px;
  padding-bottom: 5px;
}

.description {
  padding-left: 5px;
}

/* about */

.about-card {
  background-color: aquamarine;
}
