body {
  background-color: purple;
}

img {
  height: 300px;
  width: auto;
}

.banner {
  background-color: brown;
}

#body {
  background-color: cornsilk;
}

.footer {
  background-color: chocolate;
}

.card {
  background-color: cornflowerblue;
  margin: 5px;
}

.about-card {
  background-color: aquamarine;
}
