body {
  background-color: purple;
}

/* skeleton */
.banner {
  background-color: brown;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  border-radius: 15px;
  border: none;
}

.button-container {
  display: flex;
  gap: 25px;
  padding-bottom: 25px;
}

#body {
  background-color: cornsilk;
}

.footer {
  background-color: chocolate;
}

.footer-container {
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: center;
}

/* menu */

.menu-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.card {
  display: grid;

  background-color: cornflowerblue;
  margin: 5px;
  padding: 10px;
}

/* about */

.about-card {
  background-color: aquamarine;
}
