body {
  background-color: purple;
}

/* skeleton */
.banner {
  background-color: brown;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  border-radius: 15px;
  border: none;
}

.button-container {
  display: flex;
  gap: 25px;
  padding-bottom: 25px;
}

#body {
  background-color: cornsilk;
}

.footer {
  background-color: chocolate;
}

.footer-container {
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: center;
}

/* menu */

.card-image-container {
  background-size: cover;
  /* padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-right: 20px; */
  padding: 50px;
}

.menu-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.image-wrapper {
  display: grid;
  padding: 5px;
  grid-row: 1 / span 3;
}

.card {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.card-container {
  background-color: cornflowerblue;
  margin: 5px;
  padding: 10px;
}

/* about */

.about-card {
  background-color: aquamarine;
}
